.Cart {
  max-width: 1280px;
  margin: 120px auto 80px;
  padding: 0 20px;

  .cartTitle {
    position: relative;

    ul {
      display: flex;
      font-size: 15px;

      li {
        padding: 0 5px 11px;
      }

      p {
        position: absolute;
        right: 10px;
        color: #909090;
      }
    }
  }

  .cartList {
    border-top: 2px solid #111;
    border-bottom: 2px solid #111;
  }
}
