.Product {
  padding: 0 20px;
  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 90px;
    font-weight: 500;
  }
  .h2Orange {
    color: #ff5000;
  }
  .category {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 70px;
    ul {
      display: block;
      margin: 0 auto;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      margin-block-start: 1em;
      margin-block-end: 1em;
      width: 100%;
      max-width: 600px;
      text-align: center;
      .productNav {
        display: inline-block;
        vertical-align: top;
        padding: 0 15px;
        line-height: 1.5em;
        font-size: 26px;
        font-weight: 500;
        &:hover {
          cursor: pointer;
          text-decoration: underline black;
        }
      }
      .lineOn {
        text-decoration: underline black;
      }
      .colorOrange {
        color: #ff5100;
      }
    }
    div {
      position: absolute;
      right: 0;
      top: 17px;

      height: 30px;
      font-size: 24px;
      select {
        border: none;
        margin-bottom: 0;
        width: 147px;
        font-weight: 500;
        font-size: 100%;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
