.ItemList {
  ul {
    margin-left: -1%;
    li {
      width: 25%;
      padding: 0 0 3% 1%;
      display: inline-block;
      vertical-align: top;
      .itemImage {
        img {
          width: 100%;
        }
      }
      .itemInfo {
        padding: 20px 0;
        span {
          display: block;
          padding-bottom: 10px;
          font-size: 30px;
          font-weight: 500;
        }
        .price {
          text-decoration: line-through;
          font-family: "DM Sans";
          font-size: 25px;
          font-weight: 800;
        }
        .discountPrice {
          color: #ff5100;
          padding-bottom: 0;
          font-family: "DM Sans";
          font-size: 25px;
          font-weight: 800;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
