.CartList {
  display: flex;
  position: relative;
  padding: 20px 0;

  .thumbnail {
    position: relative;
    width: 100px;

    input {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 13px;
      height: 15px;
    }

    a {
      img {
        width: 100%;
      }
    }
  }

  .listInfo {
    a {
      font-size: 15px;
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
    }
    .deleteBox {
      display: inline-block;
      width: 10px;
      height: 10px;
      &:hover {
        cursor: pointer;
      }

      .delete1 {
        display: inline-block;
        position: absolute;
        right: 5px;
        width: 10px;
        height: 2px;
        background-color: #77797d;
        transform: rotate(45deg);
      }

      .delete2 {
        display: inline-block;
        position: absolute;
        right: 5px;
        width: 10px;
        height: 2px;
        background-color: #77797d;
        transform: rotate(-45deg);
      }
    }
  }
}
