:root {
  // Color
  --black-color: #111;
  --white-color: #fff;

  // Size
  --padding: 10px 0;

  // Font Size
  --font-x-large: 90px;
  --font-large: 24px;
  --font-medium: 20px;
  --font-small: 18px;
  --font-micro: 16px;
}

.signUpTitle {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-bottom: 60px;

  h2 {
    font-size: 1.5em;
    font-weight: 400;
  }
}

#joinForm {
  display: flex;
  justify-content: space-between;

  .sectionLeft {
    width: 65%;
  }

  .sectionRight {
    width: 35%;
    padding-left: 5%;
  }

  .loginBtnBlack {
    margin-top: 80px;
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: var(--font-small);
    font-weight: 700;
    line-height: 38px;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
